@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Adaptive Background & Text */
    @apply bg-gray-50 text-gray-900 dark:bg-[#0a0a0a] dark:text-white transition-colors duration-300;
  }
}